.vs/

.vscode/

PixivDownloadHelper/.vs/

PixivDownloadHelper/x64/

PixivDownloadHelper/build

PixivDownloadHelper/config

build/

*.hint

*.aps

*.pri

*.pro

#*.sln

#*.vcxproj

#*.filters

#*.user
