.vs/

.vscode/

PixivDownloadHelper/.vs/

PixivDownloadHelper/x64/

PixivDownloadHelper/build/

PixivDownloadHelper/config/

PixivDownloadHelper/PixivDownloadHelper.*

build/

*.dll

*.hint

*.aps

*.pri

*.pro

*.sln

*.vcxproj

*.filters

*.user

CMakeSettings.json
